{% load static %}
<html>
  <head>
    <title>
        {% block head %}
        this is the title head
        {% endblock %}
      </title>
      <link rel= "stylesheet" type="text/css" href="{% static 'post/materialize/css/materialize.min.css' %}">
      {% block styles %}
      {% endblock %}
    </head>
    <body>
        {% block body %}
        {% endblock %}
        <script src="{% static 'post/materialize/js/materialize.min.js' %}"> </script>
        {% block scripts %}
        {% endblock %}
    </body>
</html>
